[% PROCESS inc/errors_messages.tt %]
<h1>Delete project</h1>
[% IF project %]
	<form method="post">
		<input type="button" onclick="window.location.href=document.referrer" value="back" />
		<input type="submit" name="submit" id="submit" value="delete" />
	</form>
	<table id="form-project-delete-detail">
		<tr>
			<th>name:</th>
			<td>[% project.item("name") %]</td>
		</tr>
		<tr>
			<th>subproject:</th>
			<td>[% project.item("name_subproject") %]</td>
		</tr>
	</table>
[% END %]
