<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
		<link rel="stylesheet" href="[% request.base_uri %]/css/master.css" type="text/css" media="screen" />
		<title>Imaging</title>
	</head>
	<body>
		<div id="main">
			<div id="top">
				<ul id="menu">
					<li>
						<a href="/projects">projects</a>
					</li>
					<li>
						<a href="/users">users</a>
					</li>
					<li>
						<a href="/account">account</a>
					</li>
				</ul>
			</div>
			[% content %]
		</div>
	</body>
</html>
