<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
		<link rel="stylesheet" href="[% request.base_uri %]/css/master.css" type="text/css" media="screen" />
		<title>Imaging</title>
	</head>
	<body>
		<div id="main">[% content %]</div>
	</body>
</html>
