[% pn = get_prev_next(scan.item("_id")) %]
<div class="pull-right">
[% IF pn.prev %]
  <a id="link_prev" href="[% request.uri_for('/scans/' _ pn.prev)  %]">&lt;vorige</a>
[% END %]
[% IF pn.next %]
  <a id="link_next" href="[% request.uri_for('/scans/' _ pn.next)  %]">volgende&gt;</a>
[% END %]
</div>
<div class="clearfix"></div>
