<table class="access-denied">
	<tr>
		<td>
			<b>[% session.user.login %]</b> cannot perform action '[% params.action %]' on '[% params.operation %]'
		</td>
	</tr>
	<tr>
        <td>
			<a href="javascript: history.go(-1);">back</a>
        </td>
    </tr>
</table>
