[% PROCESS inc/errors_messages.tt %]
<h1>Account</h1>
[%- IF user %]
<dl class="dl-horizontal">
  <dt>login:</dt>
  <dd>[% user.login | html %]</dd>
  <dt>name:</dt>
  <dd>[% user.name | html %]</dd>
  <dt>roles:</dt>
  <dd>[% user.roles | html %]</dd>
  <dt>password:</dt>
  <dd>*****</dd>
</dl>
[%- END %]
