html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Lucida Sans', 'Lucida Sans Unicode', 'Verdana', serif;
	font-size: 11pt;
}
div#main {
	position:relative;
	width:1100px;
	overflow:hidden;	
	margin:0px auto 0px auto;
	padding:15px;
	border:1px dotted gray;
}
ul.error {
	background-color: #DBD3D3;
}
ul.error li {
	border:none;
	color: #B0252E;
	font-size:11pt;	
	padding:10px;
	margin:0px;
}
table {
	border-collapse:collapse;
}
td, th {
	padding: 5px;
	border:1px solid #AAAAAA;
}
th {
	padding-right:10px;
}
th {
	vertical-align:top;
}
table.right th{
	text-align:right;
}
table.center th {
	text-align:center;
}
table.left th{
    text-align:left;
}
div#top {
	position:relative;
	width:100%;
	height: 36px;
	margin:0px 0px 10px 0px;
}
ul#menu {
	list-style:none;
	width:100%;
	vertical-align:middle;
}
ul#menu li {
    float:left;
	margin: 0px 15px 5px 0px;
	padding: 0px;
}
#logo_login {
	position:absolute;
	right:0px;
	top:0px;
	padding: 10px;
}
div.comment {
	padding:5px;
	margin: 0px;
}	
div.comment_text {
	font-size:11pt;
	color:#333333;
	padding-bottom:10px;
}
div.comment_info {
	font-size:9pt;
	color:#888888;
}
th.sortable {
    background-image: url("/images/bg.gif");
    background-repeat: no-repeat;
    background-position: center right;
    padding-right:20px;
}

