input.baginfostyle,textarea.baginfostyle {
    width:500px;
}
select.baginfostyle {
    width:510px;
}
textarea.baginfostyle {
    height:100px;
}
th, td {
    overflow:hidden;
}

.table tbody tr.error > td {
background-color: #f2dede;
}

.table tbody tr.info td {
  background-color: #d9edf7;
}

label.control-label-styled {
  padding-right: 10px;
  font-weight:bold;
}
