[% PROCESS inc/errors_messages.tt %]
<h1>Edit directories of user [% user.login %]</h1>
<form method="post" accept-charset="UTF-8">
	<table id="form-directories-edit" class="right">
		<tr>
			<td colspan="2">
				<input type="submit" value="create directories" name="submit" id="submit" />
			</td>
		</tr>
	</table>
</form>
